{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ form.vars.value.id ? 'Edit FAQ' : 'New FAQ' }}
{% endblock %}

{% block pageTitle %}
	<div class="page-header-icon">
		<i class="fa-solid fa-plus"></i>
	</div>
	{{ form.vars.value.id ? 'Edit FAQ' : 'New FAQ' }}
{% endblock %}

{% block body %}
<div class="card card-header-actions mx-auto shadow-none faq-form-card">
    <div class="card-header d-flex justify-content-between">
        {{ form.vars.value.id ? 'Edit FAQ' : 'New FAQ' }}
        <a href="{{ path('admin_faq_index') }}" class="btn btn-light btn-sm">
            <i class="fas fa-arrow-left me-2"></i> List
        </a>
    </div>

    <div class="card-body">
        {{ form_start(form) }}

            {{ form_row(form.type) }}
            {{ form_row(form.question) }}
            {{ form_row(form.answer) }}
            {{ form_row(form.showOnEditor) }}
            {{ form_row(form.keywords) }}

            {{ form_row(form.save) }}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
