{% extends 'base.html.twig' %}

{% block title %}
	User Login
{% endblock %}

{% block body %}
	{{ include('common/common_mobile_bar.html.twig',{commonBarText: 'Order Online Or Call Now',commonBarTele: '+1-877-958-1499'}) }}
	<section class="checkout-banner-text-wrapper shopping-cart-title-space">
		<p>{{ loginTitle }}</p>
	</section>
	<div
		class="container">
		<section class="pages-contents customer-login common-account-pages-wrapper mb-5 mt-5">
			<div class="container">
				<div class="row justify-content-center">
					<div
						class="col-lg-5">
						{{ include ('common/flash.html.twig') }}
						<div class="card shadow-sm rounded-lg">
							<div class="card-body login-form-body">
                                <a href="{{ path('login') }}" class="flex   gap-2 text-sm  text-decoration-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-arrow-left h-4 w-4">
                                        <path d="m12 19-7-7 7-7"></path>
                                        <path d="M19 12H5"></path>
                                    </svg>
                                    Back to password login
                                </a>
								 {{ form_start(form) }}
                                    <div class="form-group mb-3 mt-3">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                        {{ form_errors(form.email) }}
                                    </div>

                                    <div class="form-group d-flex align-items-center justify-content-between mt-3 mb-0">
										<button type="submit" class="btn btn-primary btn-block ysp-account-submit-btn ysp-otp-submit-btn">Send One Time Password</button>
									</div>
                                {{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}

