{% extends 'admin/base.html.twig' %}

{% block title %}Transfer Reward{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-user-md"></i>
    </div>
    Transfer Reward
{% endblock %}

{% block body %}
    <div class="card card-header-actions mx-auto shadow-none">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div>Transfer Reward Points</div>
        </div>
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message|raw }}</div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            <div class="mb-3">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.fromEmail) }}
                        {{ form_widget(form.fromEmail, {attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.fromEmail) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.toEmail) }}
                        {{ form_widget(form.toEmail, {attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.toEmail) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.amount) }}
                        {{ form_widget(form.amount, {attr: {'class': 'form-control'}}) }}
                        {{ form_errors(form.amount) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Transfer Reward</button>
                    
                    <a href="{{ url('admin_users_customers', { id: fromUser.id }) }}" class="btn btn-secondary">Back</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
   
{% endblock %}
