<div {{ attributes }}>
    {{ form_start(form)}}
    <div class="row">
      <h5>Update Customer Password</h5>
      <div class="col-md-6">
          {{ form_errors(form) }}
          {{ form_row(form.password) }}
      </div>
      <div class="col-md-6">
        <button
            type="button"
            class="btn btn-secondary"
            id="generatePassword"
        >
            Generate Random Password
        </button>
      </div>
      <div class="col-md-12">
        {{ form_row(form.submit) }}
      </div>
    </div>
    {{ form_end(form) }}
</div>