<div {{ attributes }}>
	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				{{ form_row(form.firstName) }}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				{{ form_row(form.lastName) }}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				{{ form_row(form.email) }}
			</div>
		</div>
			<div class="col-sm-6">
			<div class="form-group">
				{{ form_row(form.mobile) }}
			</div>
		</div>
		<div class="col-sm-12">
			<div class="form-group">
				{{ form_row(form.isEnabled) }}
			</div>
		</div>
	</div>
    <div class="col-sm-12 text-center">
        <div class="form-group">
            {{ form_end(form) }}
        </div>
    </div>
</div>
