<div class="card-body p-0 table-responsive warehouse-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="fit-to-cell"><small>Delivery Date</small></th>
            <th class="fit-to-cell">#</th>
            <th class="fit-to-cell">Order</th>
            <th class="fit-to-cell">Signs</th>
            <th class="fit-to-cell">Stakes</th>
            <th class="fit-to-cell">Approved Date</th>
            <th class="fit-to-cell">Order Date</th>
            <th class="fit-to-cell">State</th>
            <th class="fit-to-cell">Shipping Service</th>
            <th class="fit-to-cell">Printer</th>
            <th class="fit-to-cell">Ship By</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if ordersGroupedByDeliveryDate | length <= 0 %}
            <tr>
                <td colspan="12" class="text-center">No orders found</td>
            </tr>
        {% endif %}
        {% set orderIndex = 1 %}
        {% for date, ordersOfDate in ordersGroupedByDeliveryDate %}
            <tr>
                <th class="text-white text-end fit-to-cell" style="background: #627ce4">{{ date | date('D M d') }}</th>
                <th colspan="11">&nbsp;</th>
            </tr>
            {% for order in ordersOfDate %}
                {% set warehouseOrder = order.warehouseOrder %}
                {% set totalQuantities = order.totalQuantities %}
                <tr>
                    <td>&nbsp;</td>
                    <td class="fit-to-cell">{{ orders.getPaginationData.firstItemNumber + orderIndex - 1 }}</td>
                    <td class="fit-to-cell">
                        <a href="{{ url('admin_order_overview', {orderId: order.orderId}) }}"
                           target="_blank">{{ order.orderId }}</a>
                    </td>
                    <td>{{ totalQuantities['totalQuantity'] }}</td>
                    <td>{{ totalQuantities['frameQuantity'] }}</td>
                    <td class="fit-to-cell">{{ order.proofApprovedAt | date('M d, y h:i A') }}</td>
                    <td class="fit-to-cell">{{ order.orderAt | date('M d, y h:i A') }}</td>
                    <td class="fit-to-cell">{{ order.shippingAddress.state }}</td>
                    <td class="fit-to-cell">
                        {% if warehouseOrder and warehouseOrder.shippingService %}
                            {{ enum.warehouseShippingService(warehouseOrder.shippingService) }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td class="fit-to-cell">
                        {% if warehouseOrder is not null and warehouseOrder.printerName %}
                            {{ enum.warehousePrinterName(warehouseOrder.printerName, true) | raw }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td class="fit-to-cell">
                        {% if warehouseOrder is not null and warehouseOrder.shipBy %}
                            {{ warehouseOrder.shipBy | date('D m/d/y') }}
                        {% else %}
                            --
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('warehouse_update_order_details') %}
                            {% if warehouseOrder is null or (warehouseOrder is not null and (warehouseOrder.shipBy is null or warehouseOrder.printerName is null)) %}
                                {% include 'admin/warehouse/queue/_offcanvas_add_to_queue.html.twig' %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% set orderIndex = orderIndex + 1 %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <div class="mt-4 d-flex justify-content-around">
        {{ knp_pagination_render(orders) }}
    </div>
</div>