<div {{ attributes }}>
    {{ form_start(form, {attr: {
        'novalidate': true,
        'data-action': 'live#action:prevent',
        'data-live-action-param': 'addToCart',
        'id': 'orderSampleForm',
    }}) }}
    {{ form_errors(form) }}
    <style type="text/css">
        .form-check-label {
            display: none;
        }

        .form-check {
            display: none;
        }
    </style>
    {% set DOUBLE_SIDED %}
        <p class="text-start m-0">
            <b>Double Sided:</b> Double Sided
            printing offers a smooth, embedded,
            and vibrant finish on both sides
            of the sign (front and back). Your
            text, numbers, and / or artwork
            will be ingrained into the material.
            We use 4mm thick corrugated plastic
            and ultraviolet (UV) light to print
            your customizations onto the yard sign.
        </p>
    {% endset %}

    {% set SINGLE_SIDED %}
        <p class="text-start m-0">
            <b>Single Sided:</b> Single Sided
            printing offers a smooth, embedded,
            and vibrant finish on one side
            of the sign. Your text, numbers
            and / or artwork will be ingrained
            into the material. We use 4mm thick
            corrugated plastic and ultraviolet (UV)
            light to print your customizations onto
            the yard sign.
        </p>
    {% endset %}
    {% set SHAPE_SQUARE %}
        <p class="text-start m-0">
            <b>Square / Rectangle Shape:</b>
            Square or Rectangle Shape allows
            printing and cutting along any
            defined square or rectangular
            border. This is the most common
            and popular choice for standard
            yard signs, including default sizes.
        </p>
    {% endset %}

    {% set SHAPE_CUSTOM %}
        <p class="text-start m-0">
            <b>Custom Shape:</b>
            Custom Shape allows printing and cutting along
            any irregular border or die cut. This includes
            any undefined outlining for fully custom signs.
            We will cut along the outer edges of your custom
            shape. Please leave a comment if necessary on
            your final cut requirements.
        </p>
    {% endset %}

    {% set SIDES_HELP = {
        'SINGLE': SINGLE_SIDED,
        'DOUBLE': DOUBLE_SIDED,
    } %}
    {% set SHAPES_HELP = {
        'SQUARE': SHAPE_SQUARE,
        'CUSTOM': SHAPE_CUSTOM,
    } %}
    {% set quantity = this.totalQuantity %}
    {% set subTotalAmount = this.getSubtotalAmount|number_format(2, '.', '') %}
    {% set stepNumber = 1 %}
    <div class="card order-sample-form mb-3">
        {# <div class="form-group mb-0">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Select Style</h4>
                    <div class="title-band-color bg-purple">
                        <h4 class="main-step">Step 1</h4>
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="field-area p-4 px-4">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-3">
                        <span class="check-delivery-date">
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                 width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                 data-acsb-hidden="true" data-acsb-force-hidden="true">
                                        <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                            </svg>
                        </span>
                        <div class="border list-group-item position-relative rounded border-purple p-2">
                            <div class="yardsign-image text-center mt-2">
                                <img width="250" height="220" src="https://static.yardsignplus.com/product_20221123-c54e7b20-6b18-11ed-976f-f95e315583dc.png"
                                     alt="sample-yard-sign" loading="lazy">
                            </div>
                            <div class="text-center fw-500">
                                <p class="fs-6 my-2">Yard Sign</p>
                                <p class="fs-6">${{ static('App\\Helper\\OrderSampleHelper', 'yardSignPrice') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}
        <div class="form-group mb-0">
            <div class="title-band-wrapper" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Choose Your Sizes (WxH in Inches)</h4>
                    <div class="title-band-color bg-light-green">
                        <h4 class="main-step">Step {{ stepNumber }}</h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total d-none d-lg-block d-md-block">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
                <div  class="free-sample-alert-wrapper text-center mb-0 m-4 mt-3" role="alert">
                    <p>Limit 3 quantity per size. We will include one free standard 10"W x 30"H wire stake. For questions or special requests please call <a href="tel:+1-877-958-1499">+1-877-958-1499</a>,
                    email <a href="mailto:">{{storeInfo.storeEmail}}</a>, or message us on our <a href="javascript:void(Tawk_API.toggle())">live chat</a>
                    </p>
                </div>
            </div>
            <span class="total-sample-qty" data-total-qty="{{ this.totalSampleQty }}" hidden></span>
            {% if flashMessage is not null and flashError == 'danger' %}
                <div class="alert m-2 mx-4 mb-0 alert-{{ flashError }}">{{ flashMessage }}</div>
            {% endif %}
            <div class="field-area pt-3 px-4" id="step-2">
                <div class="row">
                    {% set ribbonColor = ['blue', 'green', 'blue'] %}
                    {% set ribbon = {'24x18': ['Best Seller', 'Standard'], '18x12': ['Best Seller']} %}

                    {% for variant, field in form.variants.vars.form.children %}
                        {% set isChecked = field.vars.value ?? 0 %}
                        <div class="col-6 col-md-3 col-sm-6 col-xxl-2 mb-2 variant-item sample-variants" data-ribbon="{{ ribbon[variant][0] ?? '' }}">
                            {% if ribbon[variant] is defined %}
                                {% for ribbonText in ribbon[variant] %}
                                    <div class="custom-ribbon ribbon-{{variant}} {{ ribbonColor[(loop.index0) % ribbonColor|length] }}" style="top: {{ 5 + (loop.index0 * 25) }}px;">
                                        {{ ribbonText }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <span class="{% if isChecked > 0 %}check-delivery-date{% else %}d-none{% endif %}">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                    width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                    data-acsb-hidden="true" data-acsb-force-hidden="true">
                                            <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                </svg>
                            </span>
                            <div class="border list-group-item position-relative rounded p-3 {% if isChecked > 0 %}border-purple{% else %}border-none{% endif %} {% if variant in ribbon|keys %}border-blue purple-fade border-2{% endif %}">
                                <div class="banner-sizes text-center mt-2">
                                    <img width="240" height="160" src="{{ field.vars.attr['data-image'] }}" loading="lazy" alt="{{ variant }}"/>
                                </div>
                                <div class="text-center fw-500">
                                    {{ form_label(field, null, {
                                        label_attr: { 'class': variant in ribbon|keys ? 'fw-semibold' : '' }
                                    }) }}
                                    {{ form_widget(field, { attr: { 'value': field.vars.value } }) }}
                                    {{ form_errors(field) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% set customSize_is_not_null = form.vars.data.customSize is defined and form.vars.data.customSize|filter(v => v|filter(item => item is not null) is not empty) is not empty %}
                    {% set isCheckedCustomSize = (customSize_is_not_null)
                        ?: (this.getCurrentEditItem() is not empty and 
                            this.getCurrentEditItem().data.isCustomSize is defined) 
                        ? this.getCurrentEditItem().data.isCustomSize|default(0) 
                        : 0 %}

                    <div class="col-12 col-lg-6 col-xxl-12 mb-0 variant-item">
                        <div class="collapse m-auto {% if this.getCurrentEditItem() is not empty and this.getCurrentEditItem()['data']['isCustomSize'] is defined and this.getCurrentEditItem()['data']['isCustomSize'] %}show mb-2{% endif %}" id="customSizeCollapse">
                            <span class="{% if isCheckedCustomSize > 0 %}check-delivery-date{% else %}d-none{% endif %}">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                    width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                    data-acsb-hidden="true" data-acsb-force-hidden="true">
                                            <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                </svg>
                            </span>
                            <div class="text-center border rounded {% if isCheckedCustomSize > 0 %}border-purple{% else %}border-none{% endif %} list-group-item d-flex align-items-center h-100 justify-content-center flex-column mx-0 custom-order-sample pb-0 px-2 pb-2">
                                <div class="w-100 d-flex justify-content-end pt-1">
                                    <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target="#customSizeCollapse" aria-label="Close" onclick="clearCustomSize()"></button>
                                </div>
                                <div class="banner-sizes text-center d-none d-lg-block">
                                    <img width="573" height="160" src="https://static.yardsignplus.com/product/img/CUSTOM-SIZE/custom-size.png" loading="lazy" alt="customSizeImg"/>
                                </div>
                                <div class="text-center">
                                    {{ form_label(form.customSize) }}
                                </div>
                                {% for size in form.customSize %}
                                <div class="d-flex justify-content-center align-items-center flex-wrap {% if loop.length > 1 %}gap-1{% else %}gap-2{% endif %}">
                                    <div class="col-3 col-md-4 col-xl-3 text-start">
                                        {{ form_widget(size.children.width, { attr: { 'value' : size.children.width.vars.value }} ) }}
                                        {{ form_label(size.children.width, null, {'label_attr': {'class': 'fs-12 d-none d-lg-inline-block'}}) }}
                                        <label class="d-inline-block d-lg-none form-label">Width (in.)</label>
                                        <span class="d-inline-block" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-custom-class="wire-stake-popover"
                                                data-bs-content='
                                                <div class="popover-content">
                                                    The largest size we can produce is 48 x 96 
                                                    (width x height) or 96 x 48 in inches.
                                                </div>'>
                                            <span id="svgContainer">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="question-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7a48.3 48.3 0 0130.9-44.8c59-22.7 97.1-74.7 97.1-132.5.1-39.3-17.1-76-48.3-103.3zM472 732a40 40 0 1080 0 40 40 0 10-80 0z"></path></svg>
                                            </span>
                                        </span>
                                    </div>
                                    <span class="multiply">x</span>
                                    <div class="col-3 col-md-4 col-xl-3 text-start">
                                        {{ form_widget(size.children.height, { attr: { 'value' : size.children.height.vars.value } }) }}
                                        {{ form_label(size.children.height, null, {'label_attr': {'class': 'fs-12 d-none d-lg-inline-block'}}) }}
                                        <label class="d-inline-block d-lg-none form-label">Height (in.)</label>
                                            <span class="d-inline-block" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-custom-class="wire-stake-popover"
                                                data-bs-content='
                                                <div class="popover-content">
                                                    The largest size we can produce is 48 x 96 
                                                    (width x height) or 96 x 48 in inches.
                                                </div>'>
                                            <span id="svgContainer">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="question-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M623.6 316.7C593.6 290.4 554 276 512 276s-81.6 14.5-111.6 40.7C369.2 344 352 380.7 352 420v7.6c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V420c0-44.1 43.1-80 96-80s96 35.9 96 80c0 31.1-22 59.6-56.1 72.7-21.2 8.1-39.2 22.3-52.1 40.9-13.1 19-19.9 41.8-19.9 64.9V620c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8v-22.7a48.3 48.3 0 0130.9-44.8c59-22.7 97.1-74.7 97.1-132.5.1-39.3-17.1-76-48.3-103.3zM472 732a40 40 0 1080 0 40 40 0 10-80 0z"></path></svg>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-3 col-md-6 col-xl-3 text-start">
                                        {{ form_widget(size.children.quantity, { attr: { 'value' : size.children.quantity.vars.value } }) }}
                                        {{ form_label(size.children.quantity, null, {'label_attr': {'class': 'fs-12'}}) }}
                                    </div>
                                    {% if loop.length > 1 %}
                                        <div class="multiply">
                                            {{ form_widget(size.vars.button_delete) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-error mt-0 px-2 {% if form_errors(size.children.width) is not empty or form_errors(size.children.height) is not empty or form_errors(size.children.quantity) is not empty %}pb-1{% endif %}">
                                    {% if form_errors(size.children.width) is not empty and form_errors(size.children.height) is not empty %}
                                        {{ form_errors(size.children.width) }}
                                    {% else %}
                                        {{ form_errors(size.children.width) }}
                                        {{ form_errors(size.children.height) }}
                                    {% endif %}

                                    {% if form_errors(size.children.quantity) is not empty %}
                                        {{ form_errors(size.children.quantity) }}
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="button-add">
                                    {{ form_widget(form.customSize.vars.button_add) }}
                                </div>
                                <div class="free-freight-block {{ this.hasBiggerSize ? '' : 'd-none' }}">
                                    <div class="free-freight-wrapper d-inline-block mt-2 p-0 {% if this.isFreeFreight %}border-purple-small{% else %} border-transparent{% endif %}">
                                        <label class="free-freight-label cursor-pointer d-inline">
                                            <span class="{% if this.isFreeFreight %}free-freight-check{% else %} d-none{% endif %}">
                                                <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                                        width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                                        data-acsb-hidden="true" data-acsb-force-hidden="true">
                                                    <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                                </svg>
                                            </span> 
                                            <span class="list-group-item d-flex justify-content-center align-items-center free-freight-info">
                                                {{form_widget(form.isFreeFreight, {
                                                     attr: {
                                                            'data-action': 'change->live#action',
                                                            'data-live-action-param': 'toggleFreeFreight'
                                                        }
                                                }) }}
                                                <div class="text-center fw-400 free-freight-text">
                                                    <p data-loading="show" disabled>Free Freight
                                                        <img width="16" height="16" src="{{ asset(storeInfo.isPromoStore ? 'app-images/Loader-ysp.svg' : 'app-images/spinner.svg') }}" alt="Loading Spinner">
                                                    </p>
                                                    <p data-loading="hide" class="{% if this.isFreeFreight %}text-purple{% else %}text-primary{% endif %}">Free Freight</p>
                                                </div>   
                                                <span id="freeFreightModalBtn" data-bs-toggle="modal" data-bs-target="#freeFreightModal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <small>For sizes greater than 48x24 we will fold or score the sign with one to three creases to fit inside a standard box. Please click Free Freight if you would like to proceed with this option.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn border border-purple-small btn-sm mb-2 order-custom-size {% if this.getCurrentEditItem() is not empty and this.getCurrentEditItem()['data']['isCustomSize'] is defined and this.getCurrentEditItem()['data']['isCustomSize'] %}ysp-bg-purple text-white{% else %}ysp-purple{% endif %}" id="order-custom-size" type="button" data-bs-toggle="collapse" data-bs-target="#customSizeCollapse" aria-expanded="false" aria-controls="customSizeCollapse">
                        Order Custom Sizes
                    </button>
                </div>
            </div>
            {{ form_errors(form.variants) }}
        </div>
        <div class="form-group">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Choose Your Sides</h4>
                    <div class="title-band-color bg-success">
                        <h4 class="main-step">Step {{stepNumber}} </h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="form-group choose-your-sides">
                <div class="field-area p-3">
                    <div class="row">
                    {% set sidesRibbonsColor = { 'SINGLE': 'rgb(27, 138, 27)', 'DOUBLE': 'rgb(29, 78, 155)'} %}
                        {% for key, side in form.chooseYourSides %}
                            <label class="custom-sides-label col-xs-6 col-sm-6 col-md-3 col-6 cursor-pointer" data-ribbon="{{ side.vars.label }}">
                                <div class="order-sample-ribbon" style="background-color: {{ sidesRibbonsColor[side.vars.value] }}">{{ side.vars.attr['data-displayAmount'] }}</div>
                                <span class="border list-group-item position-relative rounded
                                    {% if form.chooseYourSides.vars.value == side.vars.value %}
                                        border-purple
                                    {% endif %}">
                                    <span class="
                                        {% if form.chooseYourSides.vars.value == side.vars.value %}
                                            check-delivery-date
                                        {% else %}
                                            d-none
                                        {% endif %}
                                    ">
                                        <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                            width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                            data-acsb-hidden="true" data-acsb-force-hidden="true">
                                            <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                        </svg>
                                    </span>
                                    {{ form_widget(side) }}
                                    <span class="d-inline-block sample-side-svg" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="wire-stake-popover"
                                        data-bs-content='
                                            <div class="popover-content">
                                                {{ SIDES_HELP[side.vars.label] ?? '' }}
                                            </div>'
                                        >
                                        <span id="svgContainer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                        </span>
                                    </span>
                                    <div class="text-center fw-500">
                                        <div class="addon-image">
                                            <img src="{{ side.vars.attr['data-img'] }}" loading="lazy" alt="{{ side.vars.attr['data-displayText'] }}" class="h-100">
                                        </div>
                                        <div class="text-center mb-2 addon-name">{{ side.vars.attr['data-displayText'] }}</div>
                                    </div>
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Choose Your Shape</h4>
                    <div class="title-band-color bg-success">
                        <h4 class="main-step">Step {{stepNumber}} </h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="form-group choose-your-sides">
                <div class="field-area p-3">
                    <div class="row">
                    {% set shapesRibbonsColor = {'SQUARE': 'rgb(27, 138, 27)', 'CUSTOM': 'rgb(29, 78, 155)'} %}
                        {% for key, shape in form.chooseYourShape %}
                            <label class="custom-sides-label col-xs-6 col-sm-6 col-md-3 col-6 cursor-pointer" data-ribbon="{{ shape.vars.label }}">
                                <div class="order-sample-ribbon" style="background-color: {{ shapesRibbonsColor[shape.vars.value] }}">{{ shape.vars.attr['data-displayAmount'] }}</div>
                                <span class="border list-group-item position-relative rounded
                                    {% if form.chooseYourShape.vars.value == shape.vars.value %}
                                        border-purple
                                    {% endif %}">
                                    <span class="
                                        {% if form.chooseYourShape.vars.value == shape.vars.value %}
                                            check-delivery-date
                                        {% else %}
                                            d-none
                                        {% endif %}
                                    ">
                                        <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                            width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                            data-acsb-hidden="true" data-acsb-force-hidden="true">
                                            <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                        </svg>
                                    </span>
                                    {{ form_widget(shape) }}
                                    <span class="d-inline-block sample-side-svg" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="wire-stake-popover"
                                        data-bs-content='
                                            <div class="popover-content">
                                                {{ SHAPES_HELP[shape.vars.label] ?? '' }}
                                            </div>'
                                        >
                                        <span id="svgContainer">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                        </span>
                                    </span>
                                    <div class="text-center fw-500">
                                        <div class="addon-image">
                                            <img src="{{ shape.vars.attr['data-img'] }}" loading="lazy" alt="{{ shape.vars.attr['data-displayText'] }}" class="h-100">
                                        </div>
                                        <div class="text-center mb-2 addon-name">{{ shape.vars.attr['data-displayText'] }}</div>
                                    </div>
                                </span>
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Choose 
                        {% if this.toggle is defined and this.toggle == true %}
                            Pickup
                        {% else %}
                            Delivery
                        {% endif %} 
                    Date</h4>
                    <div class="title-band-color bg-dark-yellow">
                        <h4 class="main-step">Step {{stepNumber}} </h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="field-area py-2 px-4">
                <div class="row" id="order_sample_shipping">
                    <div class="alert alert-wrapper delivery-alert text-center {{ quantity > 0 ? 'd-none' : 'd-block' }}" role="alert">
                        <p>Please add 1 or more quantity to see delivery dates</p>
                    </div>
                    {% for key, choice in form.shipping %}
                        <label class="custom-shipping-label col-md-3 col-6 cursor-alias mb-2 shipping_{{ key }} {{ quantity > 0 ? 'd-block' : 'd-none' }}">
                            <span class="border list-group-item position-relative rounded {% if (form.shipping.vars.value == choice.vars.attr['data-day']) %}border-purple{% endif %}">
                                <span class="{% if (form.shipping.vars.value == choice.vars.attr['data-day']) %}check-delivery-date{% else %} d-none{% endif %}">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                         width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                         data-acsb-hidden="true" data-acsb-force-hidden="true">
                                        <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                    </svg>
                                </span>
                                {{ form_widget(choice) }}
                                <span class="shipping-price"
                                      data-price="{{ choice.vars.attr['data-price'] }}"
                                      data-date="{{ choice.vars.attr['data-date'] }}" hidden></span>
                                <div class="text-center fw-500">
                                    <p class="fs-1 ">{{ choice.vars.attr['data-date'] | date('d') }}</p>
                                    <p class="fs-14 text-secondary">{{ choice.vars.attr['data-date'] | date('F, Y') }}</p>
                                    <div class="py-1 border-top {% if choice.vars.attr['data-price'] == 0 %}text-green{% else %}text-purple{% endif %} fs-13 fw-600">
                                        {% if choice.vars.attr['data-price'] == 0 %}
                                            FREE
                                        {% else %}
                                            {% set requestPickupDiscount = product['deliveryMethods']['REQUEST_PICKUP']['discount'] / 100 %}
                                            {% set finalPrice = this.toggle ? (choice.vars.attr['data-price'] * requestPickupDiscount) : choice.vars.attr['data-price'] %}
                                            {% set formattedPrice = finalPrice | round(2, 'floor') | number_format(2) %}
                                            +${{ (formattedPrice  / (quantity ?: 1)) | round(2, 'floor') | number_format(2) }}/pc
                                        {% endif %}
                                    </div>
                                </div>
                            </span>
                        </label>
                    {% endfor %}
                </div>
                <div class="row justify-content-center gap-2 gap-xs-3 gap-sm-3 gap-md-4 {% if quantity <= 0 %} d-none{% endif %}">
                    <div class="pickup-check d-block mt-2 p-0 {% if this.toggle %}border-purple-small{% else %} border-transparent{% endif %}">
                        <label class="custom-shipping-label cursor-pointer d-inline">
                            <span class="{% if this.toggle %}check-delivery-date{% else %} d-none{% endif %}">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                        width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                        data-acsb-hidden="true" data-acsb-force-hidden="true">
                                    <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                </svg>
                            </span>
                            <span class="list-group-item shipping-check d-flex justify-content-center align-items-center pickup-div">
                                {{form_widget(form.pickup)}}
                                <div class="text-center fw-400 ">
                                    <p data-loading="show" disabled>Request Pickup
                                        <img width="16" height="16" src="{{ asset(storeInfo.isPromoStore ? 'app-images/Loader-ysp.svg' : 'app-images/spinner.svg') }}" alt="Loading Spinner">
                                    </p>
                                    <p data-loading="hide" class="{% if this.toggle %}text-dark{% else %}text-primary{% endif %}">Request Pickup</p>
                                </div>   
                                <span class="fw-400 {% if this.toggle %}text-dark{% else %}text-dark{% endif %}" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="pickup-popover"
                                        data-bs-content=' 
                                        <div class="popover-content">
                                            <b>Request Pickup:</b></br>  
                                            Pickup from our Houston, TX warehouse is
                                            offered for all delivery dates. Please choose
                                            your delivery date. We will change your
                                            order to pickup. Once ready, we will contact
                                            you. Your delivery fee will be discounted by
                                            50% (does not apply to same day delivery
                                            requests).
                                        </div>'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="pickup-check d-block mt-2 p-0 {% if this.isBlindShipping %}border-purple-small{% else %} border-transparent{% endif %}">
                        <label class="custom-shipping-label cursor-pointer d-inline">
                            <span class="{% if this.isBlindShipping %}check-delivery-date{% else %} d-none{% endif %}">
                                <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                        width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                        data-acsb-hidden="true" data-acsb-force-hidden="true">
                                    <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                </svg>
                            </span>
                            <span class="list-group-item shipping-check d-flex justify-content-center align-items-center pickup-div">
                                {{form_widget(form.isBlindShipping)}}
                                <div class="text-center fw-400">
                                    <p data-loading="show" disabled>Request Blind Shipping
                                        <img width="16" height="16" src="{{ asset(storeInfo.isPromoStore ? 'app-images/Loader-ysp.svg' : 'app-images/spinner.svg') }}" alt="Loading Spinner">
                                    </p>
                                    <p data-loading="hide" class="{% if this.isBlindShipping %}text-dark{% else %}text-primary{% endif %}">Request Blind Shipping</p>
                                </div>   
                                <span class="fw-400 {% if this.isBlindShipping %}text-dark{% else %}text-dark{% endif %}" data-bs-html="true" tabindex="0" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-custom-class="pickup-popover"
                                        data-bs-content=' 
                                        <div class="popover-content">
                                            <b>Request Blind Shipping:</b></br>  
                                            Blind Shipping offers you to receive
                                            products without our company name
                                            listed on the shipping label.
                                            We will not include a packing slip.
                                            This is only recommended for resellers.
                                        </div>'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle"><circle cx="12" cy="12" r="10"></circle><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                                </span>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Add Comment</h4>
                    <div class="title-band-color bg-blue">
                        <h4 class="main-step">Step {{stepNumber}} </h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="field-area p-3 ">
                    {{ form_widget(form.comment) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="title-band-wrapper step1" data-step="1">
                <div class="title-band" data-title="style">
                    <h4>Review Order Details</h4>
                    <div class="title-band-color bg-purple">
                        <h4 class="main-step">Step {{stepNumber}} </h4>
                        {% set stepNumber = stepNumber + 1 %}
                    </div>
                    <span class="step-total">
                        <span class="separator">Total</span>
                        Qty: {{ quantity }}
                        <span class="separator">|</span>
                        <span class="price">Price: ${{ subTotalAmount|number_format(2, '.', '') }}</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group text-center border-top p-3">
                    <h5 class="fs-5">Total Amount</h5>
                    <input type="hidden" id="total-subtotal" value="{{ this.getSubtotal }}">
                    <div class="fs-3 text-purple fw-600">
                        $<span id="total-amount">{{ quantity > 0 ? this.totalAmount | round(2, 'floor') | number_format(2, '.', '') : '0.00' }}</span>
                    </div>
                </div>
                {% set data = this.getData() %}
                {% set items = data.items ?? [] %}
                {% if items is defined and items and items|length > 0 and data.subTotalAmount > 0 %}
                    <div class="review-order-details">
                        <div class="title-band-wrapper step1" data-step="1">
                            <div class="row order-review d-flex flex-wrap justify-content-between m-0" data-title="style">
                                <div class="col-6 col-xs-3 col-sm-3 col-md-6 d-flex flex-column flex-md-row title">
                                    <div class="title-name flex-fill">
                                        <span class="desktop">Review Order Details</span>
                                        <span class="mobile">Sample</span>
                                    </div>
                                    <div class="title-name flex-fill text-md-right">
                                        ${{ data.totalQty > 0 ?  (data.subTotalAmount / data.totalQty) | number_format(2, '.', '') }} / Sample
                                    </div>
                                </div>
                                <div class="col-6 col-xs-3 col-sm-3 col-md-6 d-flex flex-column flex-md-row title justify-content-between">
                                    <div class="title-name flex-fill">{{ data.totalQty }} Samples</div>
                                    <div class="title-name flex-fill text-md-right">
                                        ${{ subTotalAmount | round(2, 'floor') | number_format(2, '.', '') }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header bg-light d-flex justify-content-between">
                                <span class="break-down-title">Samples Cost Breakdown</span>
                            </div>
                            <div class="card-body p-0">
                                <div class="accordion accordion-flush" id="wireStakeCollapse">
                                    {% for key, item in items %}
                                        {% if item.quantity > 0 %}
                                            <div class="accordion-item">
                                                <div class="d-flex row m-0 align-items-center justify-content-between px-2 w-100 accordion-header">
                                                    <div class="head col-12" id="heading{{ loop.index }}">
                                                        <button class="accordion-button p-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{loop.index}}" aria-expanded="false" aria-controls="flush-collapseOne{{loop.index}}">
                                                            <div class="w-100 item-text d-flex justify-content-between">
                                                                <span>Size {{ item.label == 'CUSTOM-SIZE' ? item.label ~ ' (' ~ item.name ~ ')' : ' (' ~ item.label ~ ')' }}: ${{ item.unitAmount|number_format(2, '.', '') }} | QTY: {{ item.quantity }}</span>
                                                                <span class="text-end fw-bold">${{ item.totalAmount|number_format(2, '.', '') }}</span>
                                                            </div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div id="flush-collapseOne{{loop.index}}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#wireStakeCollapse">
                                                    <div class="accordion-body">
                                                        <div class="d-flex justify-content-between ps-1">
                                                            <span>Base Price</span>
                                                            <span>${{ item.unitAmount|number_format(2, '.', '') }}</span>
                                                        </div>
                                                        {% for label, addon in item.addons %}
                                                            {% if addon.amount > 0 %}
                                                                <div class="d-flex justify-content-between ps-1">
                                                                    <span>{{ addon.label }}</span>
                                                                    <span>${{ addon.amount|number_format(2, '.', '') }}</span>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="d-flex justify-content-between shipping-cost">
                                        <span>Shipping Cost
                                            <small class="text-muted">(
                                                {% if this.toggle is defined and this.toggle == true %}
                                                    Pickup
                                                {% else %}
                                                    Delivery
                                                {% endif %}
                                                Date: {{ data.shipping.date | date('M d, Y') }}
                                            )</small>
                                        </span>
                                        {% if data.shipping.amount is defined and data.shipping.amount > 0 %}
                                            <span>${{ data.shippingCost | round(2, 'floor') | number_format(2) }}</span>
                                        {% else %}
                                            <span class="text-success fw-bold">
                                                FREE
                                                {% if data.shipping.discount > 0 %}
                                                    {% set discountAmount = (data.shipping.discount / 100) * subTotalAmount %}
                                                    {% set cappedDiscountAmount = discountAmount > 50 ? 50 : discountAmount %}
                                                    -${{ cappedDiscountAmount|number_format(2) }} OFF
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endif %}

                <div class="form-group text-center py-30 bg-dark d-flex justify-content-center">
                    <button type="submit" class="btn px-5 text-white bg-green add-to-cart-button text-uppercase fw-500 d-flex justify-content-center align-items-center gap-1"
                            data-loading="action(addToCart)|addAttribute(disabled)">
                        <svg class="cart-icon" width="22px" height="22px" viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.288"></g><g id="SVGRepo_iconCarrier"> <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        <span data-loading="action(addToCart)|show" style="display: none">
                            {{ editData is not null ? 'Updating' : 'Adding to' }} Cart...
                        </span>
                        <span data-loading="action(addToCart)|hide" style="display: block">
                            {{ editData is not null ? 'Update' : 'Add to' }} Cart
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="freeFreightModal" tabindex="-1" aria-labelledby="freeFreightModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <img loading="lazy" width="85" height="53" src="{{ asset('/app-images/logo/logo.svg') }}" alt="Logo">
                    <h5 class="modal-title" id="freeFreightModalLabel">
                        FREE FREIGHT: <span class="{{ isMobile() ? 'd-block' : '' }}">SCORING & FOLDING METHOD</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>SCORING & FOLDING</h4>
                    <div class="description mb-2">
                        <strong class="freight">Free Freight:</strong>                        
                        <span class="description-modal">
                            We will fold or score the sign with one to three creases to fit inside a standard box. Please click
                            <div class="free-freight-block {{ this.hasBiggerSize ? 'd-inline-block' : 'd-none' }}">
                                <div class="free-freight-wrapper d-inline-block p-0 {% if this.isFreeFreight %}border-purple-small{% else %} border-transparent{% endif %}">
                                    <label class="free-freight-label cursor-pointer d-inline">
                                        <span class="{% if this.isFreeFreight %}free-freight-check{% else %} d-none{% endif %}">
                                            <svg viewBox="64 64 896 896" focusable="false" data-icon="check"
                                                    width="1em" height="1em" fill="currentColor" aria-hidden="true"
                                                    data-acsb-hidden="true" data-acsb-force-hidden="true">
                                                <path d="M912 190h-69.9c-9.8 0-19.1 4.5-25.1 12.2L404.7 724.5 207 474a32 32 0 00-25.1-12.2H112c-6.7 0-10.4 7.7-6.3 12.9l273.9 347c12.8 16.2 37.4 16.2 50.3 0l488.4-618.9c4.1-5.1.4-12.8-6.3-12.8z"></path>
                                            </svg>
                                        </span> 
                                        <span class="list-group-item d-flex justify-content-center align-items-center free-freight-info {{ this.isFreeFreight ? '' : 'px-1' }}">
                                            {{form_widget(form.isFreeFreightModal, {
                                                attr: {
                                                        'data-action': 'change->live#action',
                                                        'data-live-action-param': 'toggleFreeFreight'
                                                    }
                                            }) }}
                                            <div class="text-center fw-400 free-freight-text">
                                                <span data-loading="show" disabled>Free Freight
                                                    <img width="16" height="16" src="{{ asset(storeInfo.isPromoStore ? 'app-images/Loader-ysp.svg' : 'app-images/spinner.svg') }}" alt="Loading Spinner">
                                                </span>
                                                <span data-loading="hide" class="{% if this.isFreeFreight %}text-purple{% else %}text-primary{% endif %}">Free Freight</span>
                                            </div>  
                                        </span>
                                    </label>
                                </div>
                            </div>
                            if you would like to proceed with this option.
                        </span>
                    </div>
                    <img src="https://yardsignplus-static.s3.amazonaws.com/storage/images/freight.webp" alt="Scoring and Folding Example" width="670" height="336" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <p>
                        <span>For questions call</span>
                        <a href="tel:+1-877-958-1499" class="tel">+1-877-958-1499</a>, 
                        email <a href="mailto:{{storeInfo.storeEmail}}" class="email">{{storeInfo.storeEmail}}</a>,
                        <span>or message us on our</span>
                        <a class="live-chat-toggle" onclick="LiveChat()" aria-label="live chat">live chat</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
        
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const freeFreightBtn = document.getElementById('freeFreightModalBtn');
            if(freeFreightBtn) {
                freeFreightBtn.addEventListener('mouseenter', function () {
                    $('#freeFreightModal').modal('show');
                });
            }
        });
        
        function LiveChat() {
            if (typeof Tawk_API !== "undefined") {
                Tawk_API.toggle();
            }
        }
    </script>
</div>