{% extends 'base.html.twig' %}

{% block title %}
	Account Settings
{% endblock %}

{% block body %}
	{{ include('common/common_mobile_bar.html.twig',{commonBarText: 'Order Online Or Call Now',commonBarTele: '+1-877-958-1499'}) }}
	{{ include('customer/common/top_section.html.twig',
		{ section: { name: 'Account Settings', active: true }}) 
	}}
	{{ include("customer/common/customer_details.html.twig") }}

	<div class="container customer-details">
		<div class="common-account-pages-wrapper page-content">
			<!-- Begin page content -->
			<div class="pages-contents">
				<div class="row">
                    {{ include('common/flash.html.twig') }}
					<div class="col-lg-5 col-md-7 col-12 mx-auto">
						<div class="card shadow-sm mb-2 rounded-lg">
							<div class="card-body login-form-body">
                                {{ component('CustomerForm', {
                                    form: form,
                                    user: user
                                }) }}								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
