<div {{ attributes }}>
    <div class="card shadow-none mb-2">
        <div class="card-header p-2 text-dark h-auto">History</div>
        <div class="card-body p-0">
            {{ form_start(form, {
                attr: {
                    'novalidate': true,
                    'data-action': 'live#action:prevent',
                    'data-live-action-param': 'save',
                    'class': 'p-2'
                }
            }) }}
            {{ form_errors(form) }}
            <div class="d-flex justify-content-between align-items-end">
                {{ form_row(form.content) }}
                <div class="form-group ms-2 mb-sm-0 form-group-submit text-start">
                    <button type="submit" data-loading="action(save)|addAttribute(disabled)"
                            class="btn btn-primary btn-block btn-sm">
                        <span data-loading="action(save)|show" style="display: none">Saving...</span>
                        <span data-loading="action(save)|hide" style="display: block">Save</span>
                    </button>
                </div>
            </div>
            {{ form_end(form) }}

            <div class="history-items">
                {% for log in warehouseOrder.warehouseOrderLogs | reverse %}
                    <hr class="my-1"/>
                    <div class="history-item px-2">
                        <div class="text-wrap" style="font-size: 14px;">{{ log.content | default('No Data Recorded') | raw | nl2br }}</div>
                        <div class="mt-1 small text-muted d-flex justify-content-between" style="font-size: 12px;">
                            <div>Logged By: {{ log.loggedBy.username }}
                                on {{ log.createdAt | date('M d, Y H:i:s A') }}</div>
                            {% if log.isManual %}
                                <div>
                                    <a href="javascript:void(0)" data-action="live#action"
                                       data-live-action-param="deleteLog" data-live-id-param="{{ log.id }}"
                                       class="text-danger" onclick="return confirm('Are you sure')">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>