<div {{ attributes }}>
    {% if this.flashMessage %}
        <div id="cacheFormAlert" class="alert alert-{{this.flashType}} alert-dismissible" role="alert" >
            {{ this.flashMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
    {% endif %}

    {{ form_start(form, {
        attr: {
            'novalidate': true,
            'data-action': 'live#action',
            'data-live-action-param': 'clearSelected',
        }
    }) }}
        {{ form_row(form.cache_key, {
            attr: { 'data-model': 'selectedKey' }
        }) }}

        <div class="mt-3 d-flex gap-2">
            <button
                type="button"
                data-action="live#action"
                data-live-action-param="clearSelected"
                data-loading="action(clearSelected)|addAttribute(disabled)"
                class="btn btn-primary"
            >
                <span data-loading="action(clearSelected)|show" style="display: none">Clearing...</span>
                <span data-loading="action(clearSelected)|hide" style="display: block">Clear Selected Cache</span>
            </button>

            <button
                type="button"
                data-action="live#action"
                data-live-action-param="clearAll"
                data-loading="action(clearAll)|addAttribute(disabled)"
                class="btn btn-danger"
            >
                <span data-loading="action(clearAll)|show" style="display: none">Clearing All...</span>
                <span data-loading="action(clearAll)|hide" style="display: block">Clear All Cache</span>
            </button>
        </div>
    {{ form_end(form) }}
</div>
