{% extends 'admin/base.html.twig' %}

{% block title %}Coupon List
{% endblock %}
{% block pageTitle %}
	<div class="page-header-icon">
		<i class="fas fa-list"></i>
	</div>
	Coupon
{% endblock %}

{% block body %}
	{{ include('common/flash.html.twig') }}
	<div class="card card-header-actions mx-auto shadow-none">
		<div class="card-header">
			List of Coupon
			<div>
                <a href="{{ url('admin_coupon_add') }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus me-2"></i>
                    Add
                </a>
            </div>
		</div>
		<div class="table-responsive">
		<table class="card-body table table-striped mb-0">
			<thead>
				<tr>
					<th>#</th>
					<th>Code</th>
					<th>Discount Type</th>
					<th>Discount Value</th>
					<th>Website</td>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% if coupon | length > 0 %}
					{% for key,coupon in coupon %}
						<tr>
							<td>{{ key + 1 }}</td>
							<td>{{ coupon.code }}</td>
							<td>{{ coupon.type == 'P' ? 'Percentage' : 'Flat' }}</td>
							<td>{{ coupon.discount | number_format(2) }}</td>
							<td>{{ coupon.store.shortName }}</td>
							<td>{{ coupon.startDate|date }}</td>
							<td>{{ coupon.endDate|date }}</td>
							<td>
								<a href="{{ url('admin_coupon_edit',{id:coupon.id}) }}" class="btn btn-info btn-sm">
									<i class="fas fa-edit me-1"></i>
									<p class="mb-0 mx-1">Edit</p>
								</a>
								{% set toggleStatus =  coupon.isEnabled ? 1 : 0  %}
								<a href="{{ url('admin_coupon_status', { id:coupon.id,status: toggleStatus }) }}" class="btn btn-{{ toggleStatus ? 'success' : 'danger' }} btn-sm mt-1 mt-md-0">
									{{ toggleStatus ? 'Enabled' : 'Disabled' }}
								</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="6">No records</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		</div>
	</div>

	<div class="mt-4">
		{{ knp_pagination_render(coupon) }}
	</div>
{% endblock %}

