<button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilterOrder"
        aria-controls="offcanvasFilterOrder">
    Filter
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilterOrder"
     aria-labelledby="offcanvasFilterOrderLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFilterOrderLabel">Filter</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        {{ form_start(filterForm) }}

        <div class="mb-3">
            {{ form_label(filterForm.search) }}
            {{ form_widget(filterForm.search, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(filterForm.image_name) }}
            {{ form_widget(filterForm.image_name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        {{ form_end(filterForm) }}
    </div>
</div>
