<div {{ attributes }}>
	{{ form_start(form, {attr: {
      'novalidate': true,
      'data-action': 'live#action:prevent',
      'data-live-action-param': 'send'
	}}) }}
  <div class="modal-header">
    <h5 class="modal-title">RE-SEND EMAILS</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% if isSuccessful %}
      {{ include('components/_flash.html.twig') }}
    {% endif %}
    {{ form_errors(form) }}
    <div class="form-group">
      {{ form_row(form.emailTypes) }}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" data-loading="action(send)|addAttribute(disabled)" class="btn btn-sm btn-primary">
        <span data-loading="action(send)|show" style="display: none">Sending...</span>
        <span data-loading="action(send)|hide" style="display: block">Send</span>
    </button>
  </div>
  {{ form_end(form) }}
</div>