{% set maxDate = "now"|date("Y") ~ "-12-31" %}
<div class="d-flex align-items-center flex-wrap gap-2">
       <form id="export-form" method="GET" action="{{ path('admin_subscribers_export') }}" class="d-flex align-items-center gap-2">
              <label for="from_date" class="mb-0 text-primary">From:</label>
              <input type="date" id="from_date" name="from_date"
                     class="form-control form-control-sm"
                     value="{{ app.request.query.get('from_date') }}"
                     max="{{ maxDate }}" required>

              <label for="to_date" class="mb-0 text-primary">To:</label>
              <input type="date" id="to_date" name="to_date"
                     class="form-control form-control-sm"
                     value="{{ app.request.query.get('to_date') }}"
                     max="{{ maxDate }}" required >
              <button type="submit" class="btn btn-sm text-uppercase btn-primary text-nowrap px-3">Export Subscribers</button>
       </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('export-form');
    form.addEventListener('submit', function () {
        setTimeout(function () {
            window.location.reload();
        }, 5000);
    });
});
</script>