<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.city) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.addressLine1) }}
    {{ form_row(form.country) }}
    {{ form_row(form.state) }}
    {{ form_row(form.submit) }}

    {{ form_end(form) }}
</div>
