{% extends 'admin/base.html.twig' %}

{% block title %}Blog Posts{% endblock %}
{% block pageTitle %}
    <div class="page-header-icon">
        <i class="fas fa-list"></i>
    </div>
    Blog Posts
{% endblock %}

{% block body %}
    <div class="card card-header-actions mx-auto shadow-none">
        <div class="card-header">
            Blog Posts
            <div>
                <a href="{{ url('admin_blog_post_new') }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-plus me-2"></i>
                    Add
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="card-body table table-striped mb-0">
                <thead>
                <tr>
                    <th>Sr.</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Published</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <tr>
                            <td>{{ posts.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
                            <td>
                                <a href="{{ url('blog_post', {slug: post.slug}) }}" target="_blank">
                                    {{ post.title }}
                                </a>
                            </td>
                            <td>{{ post.categories | join(', ') }}</td>
                            <td>
                                {% if post.enabled %}
                                    <span class="badge bg-success">Yes ({{ post.publishedAt | date('M d, Y') }})</span>
                                {% else %}
                                    <span class="badge bg-danger">No ({{ post.publishedAt | date('M d, Y') }})</span>
                                {% endif %}
                            </td>
                            <td>{{ post.updatedAt | date('M d, Y') }}</td>
                            <td>
                                <a href="{{ url('admin_blog_post_edit', {id: post.id}) }}"
                                   class="btn btn-info btn-sm my-1 my-md-0">
                                    <i class="fas fa-edit me-1"></i> Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">No records</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

    </div>

    <div class="mt-4">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
