{% extends 'admin/base.html.twig' %}
{% block title %}view #{{ customer.id }} {% endblock %}
{% block pageTitle %}
	<div class="page-header-icon">
		<i class="fas fa-dashboard"></i>
	</div>
	Wholeseler view #{{ customer.id }}
{% endblock %}


{% block body %}
	<div class="card card-header-actions mx-auto shadow-none">
		<div class="card-header">
			Wholeseler User ID: #{{ customer.id }}
			<div>
				<a href="{{ url('admin_contact_us') }}" class="btn btn-dark btn-sm">
					<i class="fas fa-arrow-left me-2"></i>
					List
				</a>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ customer.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Mobile</th>
                        <td>{{ customer.wholeSeller.mobile }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>{{ customer.wholeSeller.address }}</td>
                    </tr>
                    <tr>   
                        <th scope="row">City</th>
                        <td>{{ customer.wholeSeller.city }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Zip Code</th>
                        <td>{{ customer.wholeSeller.zipcode }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Company Name</th>
                        <td>{{ customer.wholeSeller.companyName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Website</th>
                        <td>{{ customer.wholeSeller.website }}</td>
                    </tr>
                    <tr>   
                        <th scope="row">About Company</th>
                        <td>{{ customer.wholeSeller.aboutCompany }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Client Type</th>
                        <td>{{ customer.wholeSeller.clientType }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Hear About Us</th>
                        <td>{{ customer.wholeSeller.hearAboutUs }}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{ customer.wholeSeller.state.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Country</th>
                        <td>{{ customer.wholeSeller.country.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Wholeseler Image</th>
                        <td>
                            {% if customer.wholeSeller.wholeSellerImageFile ?? null %}
                                <a href="{{ vich_s3.asset(customer.wholeSeller.wholeSellerImageFile, 'fileObject') }}"
                                class="btn btn-blue btn-xs m-0"
                                target="_blank">
                                    <i class="fa fa-external-link"></i> View File
                                </a>
                            {% else %}
                                <span class="badge bg-warning">No File</span>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>

{% endblock %}

