<div class="container-fluid footer-content-wrapper">
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Experts in Custom Outdoor Yard Signs</h3>
            <div class="footer-content">
                <p>As a leading provider of custom outdoor yard signs, we are dedicated to offering simple and great
                    quality yard sign printing solutions with overnight shipping from Houston. Our commitment to
                    creating long-lasting outdoor yard signs that cater to various needs is evident through our use of
                    durable corrugated plastic, glossy coating, metal wire stakes, vibrant and weatherproof ultraviolet
                    (UV) printed colors, ensuring you’re satisfied with your sign. We pride ourselves on offering very
                    competitive prices on fully custom outdoor yard signs and business signage with the fastest
                    turnaround time in the industry—all at a great price!</p>
                <p>All of our custom outdoor yard signs are proudly printed in the USA by a team of signage experts. Our
                    production facility is equipped with modern technology that allows for overnight production, including
                    overnight delivery. By utilizing high-quality 4mm thick corrugated plastic that is protected against
                    all weather conditions including rain, snow, and heat, our custom yard signs will remain in
                    excellent condition for a long period of time.</p>
                <p>Our customer service team is dedicated to ensuring every customer is satisfied with their order. We
                    are available 24 hours a day, 7 days a week by calling <a href="tel: +1-877-958-1499">+1-877-958-1499</a>,
                    emailing <a href="mailto: {{storeInfo.storeEmail}}">{{storeInfo.storeEmail}}</a>, or messaging us on our
                    <a href="#" onclick="Tawk_API.toggle(); return false;"  oncontextmenu="return false;">live chat </a>. <a href="{{ url('contact_us') }}">Contact
                        us</a> today to create and submit an order! Once you submit your order through our checkout
                    page, our expert design team will send a custom proof or preview of your order in 1 hour for your
                    review. You can request changes as many times as needed until you are ready to approve for
                    production.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h3>Fully Customize Your Outdoor Yard Signs</h3>
            <div class="footer-content">
                <p>We pride ourselves in offering fully customizable outdoor yard signs, allowing for custom artwork,
                    company logos, images, and fonts. We offer thousands of design templates and clipart to quickly
                    place an order. This includes but is not limited to
                    <a href="{{ url('category', {slug: 'political'}) }}" target="_blank">political yard signs</a>,
                    <a href="{{ url('category', {slug: 'contractor'}) }}" target="_blank">contractor yard signs</a>,
                    <a href="{{ url('category', {slug: 'real-estate'}) }}" target="_blank">real estate yard signs</a>,
                    <a href="{{ url('category', {slug: 'restaurant'}) }}" target="_blank">restaurant yard signs</a>,
                    <a href="{{ url('category', {slug: 'business-ads'}) }}" target="_blank">business yard signs</a>,
                    and much more. We offer our customers everything needed to inspire, create, and design custom yard
                    signs.</p>
                <p>Choose from a variety of design templates tailored to different industries and occasions. Whether you
                    are promoting a real estate listing, announcing a special event, or advertising your business,
                    you’ll be sure to find a template to inspire your lawn signs. If you have your own logos or artwork,
                    you can upload them to create your own custom design. Select from a wide array of vibrant colors and
                    font styles to make your yard signs stand out.</p>
                <p>We offer 10 standard sizes to suit different display preferences and orientations. We also offer an
                    option to request custom measurements for lawn signs or neighborhood yard signs. Easily input your
                    desired text and artwork using our live editor and comments section. Choose from single sided or
                    double sided printing for maximum exposure. Need a metal ground stake for your yard sign? You’ll
                    find the option to add stakes during the design phase. If you’re in the market for a larger order,
                    we offer discounted prices on bulk orders, with no minimum order requirements. See a real-time
                    preview of your customized design before submitting your order using our live editor.
                </p>
            </div>
        </div>
        <div class="col-12">
            {% set customUrl = url('editor', {
                category: 'custom-mockup',
                productType: 'yard-sign',
                sku: 'CUSTOM',
                variant: '24x18'
            }) %}
            <div class="read-more-content" style="display: none">
                <h3 class="mt-2">Your Guide on Ordering Custom Outdoor Yard Signs</h3>
                <div class="footer-content text-start">
                    <p>Are you ready to make a statement with custom yard signs? At {{storeInfo.storeName}}, we've simplified the
                        process so you can effortlessly create the perfect signage for your needs. Follow <a
                                href="{{ customUrl }}"
                                target="_blank">these easy steps</a> to bring your vision to life!</p>
                    <h5>Step 1: Choose Your Sizes</h5>
                    <p>Select from a wide range of sizes to suit your requirements. Whether you need a single sign or a
                        bulk
                        order, there's no minimum quantity required. You can also request custom measurements.</p>
                    <h5>Step 2: Choose Your Sides</h5>
                    <p>Select whether you would like to showcase your design as a single-sided or double-sided yard
                        sign,
                        maximizing your visibility and outreach.</p>
                    <h5>Step 3: Choose Your Design</h5>
                        <p>Personalize your yard signs by choosing from thousands of our templates. You can also upload your
                            own
                            design or artwork as we can create fully custom signs. You may also request assistance with
                            designing by leaving a comment, or choosing to email your artwork later during the proof
                            process.</p>
                    <h5>Step 4: Customize Your Signs</h5>
                    <p>Personalize your signs by adding text, logos, or graphics to match your brand or message.
                        Whether it's for business, events, or personal use, we offer customization options to bring
                        your vision to life.</p>
                    <h5>Step 5: Choose Your Shape</h5>
                    <p>Select from classic rectangular signs or unique custom shapes to make your sign stand out.
                        Die-cut options are available for a truly distinctive look.</p>
                    <h5>Step 6: Choose Imprint Color</h5>
                    <p>Make your yard signs one of a kind by selecting from a range of imprint colors to complement your
                        design or artwork. We can use as many imprint colors as required to bring your design to
                        life.</p>
                    <h5>Step 7: Choose Your Grommets</h5>
                    <p>Customize your yard signs with optional grommets, available in different colors and orientations
                        depending on your needs.</p>
                    <h5>Step 8: Choose Your Frame</h5>
                    <p>Enhance the presentation and placement of your yard signs by adding our metal wire stake frames,
                        available in an universal size. Our wire stakes are easy to insert into the signs and place into
                        the
                        ground to prominently showcase your design or message.</p>
                    <h5>Step 9: Choose Delivery Date</h5>
                    <p>Select your preferred delivery date to ensure your yard signs arrive on or ahead of the date you
                        need
                        them. Enjoy free shipping on orders $50 or more!</p>
                    <p>Once you have reviewed your order details, added to cart, and proceeded to checkout, you may
                        submit
                        your order. We offer free expert design assistance. This includes free custom artwork creation
                        and
                        free proofs. Once you submit your order, we will send a proof for your review within 1 hour. You
                        can
                        Request Changes before you Approve for Production.</p>
                    <p>Ready to get started? Design your custom yard signs today and make a lasting impression with Yard
                        Sign Plus. Let's bring your vision to life!</p>
                </div>
                <h3 class="text-center mt-2">No Hidden Fees, No Minimums, Guaranteed Lowest Prices!</h3>
                <div class="footer-content text-center">
                    <p>{{storeInfo.storeName}} is your trusted destination for high-quality custom yard signs without the hassle
                        of
                        hidden fees or minimum order requirements. Whether you need one custom yard sign or a bulk
                        order,
                        we've got you covered. Purchase as many signs as you would like, without any restrictions. With
                        our
                        commitment to transparency and customer satisfaction, we guarantee the lowest prices in the
                        market.
                        Your total order cost will be displayed to you multiple times throughout the checkout process,
                        giving you full visibility into what you'll be paying before you submit your order. There are no
                        hidden fees waiting to catch you off guard. You'll only be charged exactly what your order total
                        includes – nothing more, nothing less.</p>
                    <p>Design your custom outdoor yard signs now with confidence, knowing you're getting the best deal
                        in
                        the industry!</p>
                </div>
                <h3 class="text-center mt-2">We’re Here to Help 24/7</h3>
                <div class="footer-content text-center">
                    <p>Be sure to check out our customer reviews to review testimonials and feedback from our happy
                        customers. To view all of our Frequently Asked Questions pertinent to custom outdoor yard signs
                        please visit our <a href="{{ url('faqs') }}" target="_blank">FAQs</a>. Join our long list of
                        happy
                        customers and order your new, custom outdoor yard signs today!
                    </p>
                </div>
            </div>
            <div class="text-center">
                <button onclick="readMoreLess()" id="read-more-btn" class="btn py-1 px-3 btn-ysp-outline">Read More</button>
                <script type="text/javascript">
                    function readMoreLess() {
                        $(".read-more-content").slideToggle();
                        $("#read-more-btn").text(function (i, text) {
                            return text === "Read More" ? "Read Less" : "Read More";
                        });
                    }
                </script>
            </div>
        </div>
    </div>
</div>