<div class="customer-photos-slider" id="customer-photos-slider">
    <label class="mt-4 font-bold categories-label">
        <span class="our-label">OUR</span>
        SATISFIED CUSTOMERS
    </label>
    <div class="swiper customer-item customer-photos-swiper">
        <div class="swiper-wrapper d-none" id="customer-photos-swiper-wrapper">
            {% for key,photos in ysp.getCustomerPhotos(ysp.storeId, true)|slice(0,50) %}                
                    {% set defaultUrl = 'https://placehold.co/400x400?text=Awaiting+Image' %}
                    {% if 'video' in photos.photo.mimeType %}
                        {% set videoUrl = photos.photo.name is null ? defaultUrl : vich_s3.asset_video(photos, 'photoFile') %}
                        <div class="swiper-slide">
                            <video src="{{ videoUrl }}" width="100px" height="168" class="card-img-top review-photos lazy loaded object-fit-contain" controls>
                        </div>
                    {% else %}
                        {% set imageUrl = photos.photo.name is null ? defaultUrl : vich_s3.asset(photos, 'photoFile', '1200x1200') %}
                        <div class="swiper-slide">
                            <a href="{{ imageUrl }}" target="_blank" data-src="{{ imageUrl }}">
                                <img fetchpriority="high" loading="lazy" width="164" height="168" class="customer-image" src="{{ imageUrl }}" alt="Customer Photo #{{ loop.index }}"/>
                            </a>
                        </div>
                    {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="customer-photos-link pt-3 gap-4 gap-md-5">
        <a href="{{ url('customer_photos') }}" class="view-customer-photos">
            View Customer Photos
        </a>
        <button type="button" class="delivery-calendar-btn fw-500 fs-15" data-bs-toggle="modal" data-bs-target="#ysp-delivery-calendar">View Delivery Calendar</button>
    </div>
    {{ include('common/_delivery_calendar.html.twig') }}
</div>