{% extends 'admin/base.html.twig' %}

{% block title %}
	{{ form.vars.value.id ? 'Edit Type' : 'New FAQ Type' }}
{% endblock %}
{% block pageTitle %}
	<div class="page-header-icon">
		<i class="fa-solid fa-plus"></i>
	</div>
	{{ form.vars.value.id ? 'Edit Type' : 'New FAQ Type' }}
{% endblock %}

{% block body %}
	<div class="card card-header-actions mx-auto shadow-none">
		<div class="card-header">
			{{ form.vars.value.id ? 'Edit Type' : 'New FAQ Type' }}
			<div>
				<a href="{{ url('admin_faq_type_index') }}" class="btn btn-light btn-sm">
					<i class="fas fa-arrow-left me-2"></i>
					List
				</a>
			</div>
		</div>
		<div class="card-body">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
