<div {{ attributes }}>
    <div class="card my-2">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_row(form.changes) }}
            {{ form_label(form.files) }}
            {% for key, file in form.files %}
                   <div class="file align-items-center d-flex file justify-content-between">
                       {{ form_row(file) }}
                   </div>
            {% endfor %}
            {{ form_widget(form.files.vars.button_add) }}

            {% if data.showPaymentOption %}
                {% set additionalAmount = this.getAmountToBeCharged() %}
                <div class="mt-4">
                    <strong class="text-white">{{ this.getChargeProofCountText() }}</strong>
                </div>
                <div class="checkout-page bg-light rounded">
                    {{ include('account/order/_payment_method.html.twig') }}
                </div>
            {% endif %}

            {{ form_row(form.submit) }}
            {{ form_end(form) }}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    document.querySelector('form[name=request_changes]').addEventListener('submit', function(event) {
                        var submitButton = document.getElementById('request_changes_submit');
                        submitButton.disabled = true;
                        submitButton.innerHTML = 'Submitting...';
                    });
                });
             </script>
        </div>
    </div>
</div>