<div class="col-md-6 col-lg-4 mb-4">
    <div class="card saved-cards h-100 rounded-4 hover-shadow">
        <div class="card-body align-content-center">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="d-flex align-items-center gap-2">
                    <div class="address-icon">
                        <i class="fa fa-credit-card ysp-purple"></i>
                    </div>
                    <h5 class="card-title m-0">{{ card.cardType|title }}</h5>
                </div>

                {% if card.isDefault %}
                    <span class="badge badge-indigo-soft text-ysp-purple">DEFAULT</span>
                {% endif %}
            </div>

            <div class="address-details">
                <p class="mb-1 text-truncate">
                    {{ card.cardType|capitalize }} ending in {{ card.last4 }}
                </p>
                <p class="mb-1 text-muted">
                    •••• •••• •••• {{ card.last4 }} Expires {{ card.expMonth }}/{{ card.expYear }}
                </p>
            </div>

            <div class="d-flex address-actions {{ card.isDefault ? 'justify-content-end' : 'justify-content-between' }}">
                {% if not card.isDefault %}
                    <button
                        class="btn btn-ysp-outline btn-sm"
                        data-action="saved-braintree-cards#setDefault"
                        data-id="{{ card.id }}">
                            <span class="spinner-border spinner-border-sm me-2 d-none savedBraintreeCardsLoader" role="status"></span>
                            Set As Default
                    </button>
                {% endif %}

                <button
                    class="btn btn-outline-danger btn-sm"
                    data-action="saved-braintree-cards#delete"
                    data-id="{{ card.id }}">
                        <span class="spinner-border spinner-border-sm me-2 d-none savedBraintreeCardsLoader" role="status"></span>
                        <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>
