<div {{ attributes }}>
    {{ form_start(form, {attr: {
        'novalidate': true,
        'data-action': 'live#action:prevent',
        'data-live-action-param': 'exclusiveOffer',
    }}) }}
    <div class="row">
        {{ form_errors(form) }}
        <div>
            <div class="d-flex exclusive-email">
                {{ form_widget(form.email, { 'id': 'exclusive_offer_email_' ~ random(50, 100) }) }}
                <button type="submit" data-loading="action(exclusiveOffer)|addAttribute(disabled)" class="btn btn-primary">
                    <span data-loading="action(exclusiveOffer)|show" style="display: none">Sending...</span>
                    <span data-loading="action(exclusiveOffer)|hide" style="display: block">Submit</span>
                </button>
            </div>
            {% if isSuccessful %}
                <div class="d-block alert text-{{flashError}} footer-flash">{{ flashMessage }}</div>
            {% endif %}
            {{ form_errors(form.email) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>