<h4 class="mb-3 fs-5">Default variants</h4>
{{ form_start(form) }}
    {% if productType.defaultVariants is not empty %}
        {% for variant in productType.defaultVariants %}
            <div class="d-flex align-items-center mb-3 gap-2">
                <strong class="me-2" style="min-width:80px;">{{ variant }}</strong>
                <div class="w-25">
                    {{ form_label(form['variant_label_' ~ variant]) }}
                    {{ form_widget(form['variant_label_' ~ variant], {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form['variant_label_' ~ variant]) }}
                </div>
                <div class="w-25 m">
                    {{ form_label(form['variant_sort_' ~ variant]) }}
                    {{ form_widget(form['variant_sort_' ~ variant], {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form['variant_sort_' ~ variant]) }}
                </div>
            </div>
        {% endfor %}

        <button class="btn btn-primary mt-3">Save</button>
    {% else %}
        <div class="alert alert-warning">
            No variants available to edit.
        </div>
    {% endif %}
{{ form_end(form) }}
