{% include 'admin/order/view/_order_stage.html.twig' with { order } %}
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
        <tr class="text-center">
            <th colspan="15">

                {% set quantities = order.getTotalQuantities %}
                {% include 'admin/warehouse/_mini_order_info_badge.html.twig' with {
                    quantities: quantities,
                    warehouseOrder: order.warehouseOrder,
                    order: order,
                    size: 'bigger',
                } %}
            </th>
        </tr>
        {% if is_granted('admin_order_view_details') %}
            <tr>
                <th>Order ID</th>
                <td>
                    {{ order.orderId }}
                    {% if order.parent is not null %}
                        {% set parentOrderId = order.parent.orderId %}
                        (<a href="{{ url('admin_order_overview', {orderId: parentOrderId }) }}"
                            target="_blank">{{ parentOrderId }}</a>)
                    {% endif %}
                </td>
                <th>Customer Name</th>
                <td>{{ order.billingAddress.firstName | default('-') }} {{ order.billingAddress.lastName | default('-') }}</td>
                <th>Payment Status</th>
                <td>{{ enum.getPaymentStatusLabel(order.paymentStatus) }}</td>
                <th>Order Status</th>
                <td>{{ enum.getOrderStatusLabel(order.status) }}</td>
            </tr>
        {% endif %}
        {% set orderShipments = order.orderShipments %}
        {% if orderShipments | length > 0 %}
            <tr>
                <td colspan="8" class="p-0">
                    <table class="table table-light mb-0">
                        <tr>
                            <th>#</th>
                            <th>Provider</th>
                            <th>Type</th>
                            <th>Carrier</th>
                            <th>Shipped Item Type</th>
                            <th>Tracking ID</th>
                            <th>Shipping Charges</th>
                            <th>Shipping Adjustment</th>
                            <th>Shipping Total</th>
                            <th>Status</th>
                            <th class="text-end">Last Updated At</th>
                        </tr>
                        {% for shipment in orderShipments %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td class="text-capitalize">{{ order.shippingMethod | replace({'_': ' '}) | lower }}</td>
                                <td>{{ shipment.type.label }}</td>
                                <td>
                                    {% if shipment.selectedRate %}
                                        {{ shipment.selectedRate.carrier }} {{ shipment.selectedRate.service }}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                <td>{{ shipment.getMetaDataKey('shippedItemType') ?? '-' }}</td>
                                <td>
                                    {% if shipment.selectedRate %}
                                        <a target="_blank"
                                           href="{{ shippingTracking.generateTrackingLink(shipment.selectedRate.carrier, {trk: shipment.trackingId, oid: order.orderId }) }}">
                                            {{ shipment.trackingId }}
                                        </a>
                                        {% set postageLabel = shipment.postageLabel %}
                                        {% if postageLabel %}
                                            <a href="{{ postageLabel.label_url }}" target="_blank"
                                               class="btn badge bg-primary text-white">View Label</a>
                                        {% endif %}
                                    {% else %}
                                        --
                                    {% endif %}
                                </td>
                                {% set shippingCosts = order.getShippingCosts() %}
                                <td><span class="badge bg-warning small">{{ shippingCosts.carrier }}</span> ${{ order.shippingCostByOrder('OUTBOUND', shipment.trackingId) | default(' - ') }} </td>
                                <td> ${{ order.shippingCostByOrder('ADJUSTMENT', shipment.trackingId) | default(' - ') }} </td>
                                <td> ${{ order.shippingCostByOrder('TOTAL', shipment.trackingId) | default(' - ') }} </td>
                                <td class="text-capitalize">
                                    {% if shipment.selectedRate %}
                                        {{ shipment.status | replace({'_': ' '}) | capitalize }}
                                    {% else %}
                                        Shipment Created
                                    {% endif %}
                                </td>
                                <td class="text-end">{{ shipment.updatedAt | date('M d, Y h:i A') }}</td>
                            </tr>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                {% set shippingCosts = order.shippingCosts %}
                                <td colspan="4" class="text-end fw-bold"></td>
                                <td colspan="2" class="text-end">
                                    <span class="fw-bold">Total Shipping: </span>
                                    {% if order.shippingCost %}
                                        {% if shippingCosts.shippingCharges %}
                                            <s><span class="badge bg-primary small">EP</span> ${{ order.shippingCost | number_format(2) }}</s>
                                            <span class="badge bg-warning">{{ shippingCosts.carrier }}</span> ${{ shippingCosts.shippingCharges | number_format(2) }}
                                        {% else %}
                                            <span class="badge bg-primary">
                                                EP
                                            </span> ${{ order.shippingCost | number_format(2) }}
                                        {% endif %}
                                    {% else %}
                                        <span class="text-muted">-</span>
                                    {% endif %}
                                </td>
                                <td class="text-start">
                                    ${{ shippingCosts.shippingAdjustment | number_format(2) }}
                                </td>
                                <td class="text-start">
                                    ${{ shippingCosts.shippingTotal | number_format(2) }}
                                </td>
                                <td class="text-start" colspan="3"></td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        {% endif %}
        {% if order.shippingTrackingId or order.shippingMethod == 'PICKUP' %}
            <tr>
                <th>Shipping Method</th>
                <td>{{ enum.getShippingLabel(order.shippingMethod) }}</td>
                <th>Shipping Carrier</th>
                <td>{{ order.shippingCarrier }}</td>
                <th>Carrier Service</th>
                <td>{{ order.shippingCarrierService | default('-') }}</td>
                <th>Tracking Id</th>
                <td>{{ order.shippingTrackingId | default('-') }}</td>
            </tr>
        {% endif %}
        {% if (hideAddress is defined and hideAddress == false) or hideAddress is not defined %}
            {% set epFromAddress = order.metaDataKey('epFromAddress') %}
            {% if epFromAddress %}
                <tr>
                    <td colspan="15">
                        <b>Ship From Address:-</b>
                        <div>
                            {{ epFromAddress.name }},
                            {% if epFromAddress.company %}{{ epFromAddress.company }}, {% endif %}
                            {{ epFromAddress.street1 }},
                            {% if epFromAddress.street2 %} {{ epFromAddress.street2 }},{% endif %}
                            {{ epFromAddress.city }}, {{ epFromAddress.state }},
                            {{ epFromAddress.country }}, {{ epFromAddress.zip }}
                            <br/>
                            <b>Phone: </b> {{ epFromAddress.phone }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% if is_granted('admin_order_view_address') %}
                <tr>
                    <td colspan="{% if 'ROLE_WAREHOUSE' not in app.user.roles %}4{% else %}8{% endif %}">
                        {{ component('AddressComponent', { order, address: order.shippingAddress, type: 'shippingAddress'}) }}
                    </td>
                    {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
                        <td colspan="4">
                            {{ component('AddressComponent', { order, address: order.billingAddress, type: 'billingAddress'}) }}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endif %}
        {% if (hideActions is defined and hideActions == false) or hideActions is not defined %}
            <tr>
                <td colspan="8">
                    {% include 'admin/order/view/_order_actions.html.twig' with { order } %}
                </td>
            </tr>
        {% endif %}
        {% if 'ROLE_WAREHOUSE' not in app.user.roles and is_granted('admin_order_view_details') %}
            <tr>
                <th>
                    Email
                    {% if (order.user) %}
                        {% include 'admin/order/view/_update_user.html.twig' with { order } %}
                    {% endif %}
                </th>
                <td colspan="3">
                    {{ order.user.email|default('-') }}
                </td>
                <th>Mobile Text Updates</th>
                <td>
                    {{ order.textUpdates and order.textUpdatesNumber ? 'Yes @ '~order.textUpdatesNumber~''  : 'No' }}
                </td>
                <th>Order Protection</th>
                <td>{{ order.orderProtectionAmount > 0 ? 'Yes' : 'No' }}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="8">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="product-sno">S.No.</th>
                        <th>Product</th>
                        {% if order.isIsYSPLogo %}
                            <th class="text-center">YSP Logo</th>
                        {% endif %}
                        <th>Quantity</th>
                        {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
                            <th>Price</th>
                            <th>Subtotal</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.orderItemsAll %}
                        {% if item.itemType == 'DEFUALT' or item.product %}
                        {% set product = item.product.parent %}
                        {% set template = item.product %}
                        <tr>
                            <td class="product-sno">{{ loop.index }}</td>
                            <td>
                                <div class="product-info">
                                    <p class="mb-0">
                                        {% if product.sku in [ProductEnum.SAMPLE.value, ProductEnum.WIRE_STAKE.value, ProductEnum.BLANK_SIGN.value] %}
                                            {{ product.sku }} <span class="badge badge-pill fw-bold bg-purple text-white text-decoration-none mx-2 ">{{ product.sku }}</span>
                                        {% elseif item.metaData.customSize.isSample is defined and item.metaData.customSize.isSample %}
                                            {{ product.sku }} <span class="badge badge-pill fw-bold bg-purple text-white text-decoration-none">{{ product.sku }}</span>
                                            <span class="badge badge-pill fw-bold bg-red text-white text-decoration-none me-2">{{ item.metaData.customSize.parentSku }}</span>
                                        {% elseif item.metaData.isCustomSize is defined and item.metaData.isCustomSize %}
                                            {% if item.metaData.customSize.sku is defined %}
                                                {% set product = ysp.getDefaultCustomProduct(item.metaData.customSize.sku) %}
                                                {% set variant = item.metaData.customSize.templateSize.width ~ 'x' ~ item.metaData.customSize.templateSize.height %}
                                                {% set linkToProduct = url('editor', {category: product.primaryCategory.slug, productType: product.productType.slug, sku: product.sku, variant }) %}
                                                {% if product.sku == 'CUSTOM' %}
                                                    {% set linkToProduct = url('custom_yard_sign_editor', { variant }) %}
                                                {% endif %}
                                                <a class="badge badge-pill fw-bold bg-yellow text-white" href="{{ linkToProduct }}" target="_blank">CUSTOM-SIZE</a>
                                            {% else %}
                                                CUSTOM-SIZE
                                            {% endif %}
                                            <a href="{{ url('admin_order_item_preview', {orderId: order.orderId, itemId: item.id}) }}"
                                            class="ms-2 badge text-bg-primary text-decoration-none" target="_blank">
                                                <i class="fa fa-external-link-alt me-1"></i> Preview
                                            </a>
                                        {% else %}
                                            <a href="{{ url('editor', {category: product.primaryCategory.slug, productType: product.productType.slug, sku: product.sku, variant: template.slug}) }}"
                                            target="_blank">{{ product.sku }}</a>
                                            <a href="{{ url('admin_order_item_preview', {orderId: order.orderId, itemId: item.id}) }}"
                                            class="ms-2 badge text-bg-primary text-decoration-none" target="_blank">
                                                <i class="fa fa-external-link-alt me-1"></i> Preview
                                            </a>
                                        {% endif %}
                                        {% if is_granted('order_item_update') %}
                                            {% if order.isIsManual is defined and order.isIsManual and order.status not in ['READY_FOR_SHIPMENT', 'PROOF_APPROVED', 'COMPLETED', 'CANCELLED'] %}
                                                <a class="badge badge-pill fw-bold bg-primary text-white text-decoration-none mx-1" type="button" data-bs-toggle="offcanvas"
                                                    data-bs-target="#offChargeItem{{ item.id }}" aria-controls="offChargeItem{{ item.id }}">
                                                    <i class="fa fa-edit me-1"></i>Edit
                                                </a>
                                                {{ include('admin/order/view/item/_edit_item.html.twig') }}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    {% if item.metaData.isCustomSize is defined and item.metaData.isCustomSize %}
                                        <p class="mb-0"><b>Variant:</b> {{ item.metaData.customSize.templateSize.width }}x{{ item.metaData.customSize.templateSize.height }}</p>
                                        <p class="mb-0"><b>SKU:</b> {{ item.metaData.customSize.sku }}</p>
                                    {% elseif item.product.parent.sku == 'WIRE-STAKE' %}
                                        <p class="mb-0"><b>Variant:</b> {{ template.label ?? (template.name ~ ' Wire Stake') }}</p>
                                    {% else %}
                                        <p class="mb-0"><b>Variant:</b> {{ template.name }}</p>
                                    {% endif %}
                                    {% if item.addOns | length > 0 %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            {% for addon in labelForAddons(item.addOns) %}
                                                {% set isDifferent = 'Premium 10"W X 30"H' in addon or 'Single 30"H ' in addon %}
                                                <small class="badge {% if isDifferent %}bg-gradient-primary-to-secondary p-2{% else %}bg-secondary-soft text-dark{% endif%} me-1">{{ addon }}</small>
                                            {% endfor %}
                                            {% if item.metaData['YSPLogoDiscount']['hasLogo'] is defined and item.metaData['YSPLogoDiscount']['hasLogo'] %}
                                                <small class="badge bg-purple">
                                                    {% if isPromoStore(order.storeDomain) %}
                                                        Promo Logo
                                                    {% else %}
                                                        YSP Logo
                                                    {% endif %}
                                                </small>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isWireStake'] is defined and item.metaData['isWireStake'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            [<small class="badge bg-gradient-primary-to-secondary p-1">{{ template.label ?? (template.name ~ ' Wire Stake') }}</small>]
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isHelpWithArtwork'] is defined and item.metaData['isHelpWithArtwork'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-info mt-1">Help With Artwork</small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isEmailArtworkLater'] is defined and item.metaData['isEmailArtworkLater'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-info mt-1">Email Artwork Later</small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['deliveryMethod']['key'] is defined and item.metaData['deliveryMethod']['key'] == 'REQUEST_PICKUP' %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-danger mt-1">
                                                {{ item.metaData['deliveryMethod']['label'] }}
                                                <a href="{{ url('admin_order_request_pickup_remove', {order: order.id}) }}" class="text-white ms-1" onclick="return confirm('Are you sure you want to remove Request Pickup from order items?')">
                                                    <i class="fa fa-times me-1"></i>
                                                </a>
                                            </small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isBlindShipping'] is defined and item.metaData['isBlindShipping'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-success mt-1">
                                                Blind Shipping
                                                <a href="{{ url('admin_order_blind_shipping_remove', {order: order.id}) }}" class="text-white ms-1" onclick="return confirm('Are you sure you want to remove Blind Shipping from order items?')">
                                                    <i class="fa fa-times me-1"></i>
                                                </a>
                                            </small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isFreeFreight'] is defined and item.metaData['isFreeFreight'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-success mt-1">
                                                Free Freight: Scoring
                                                <a href="{{ url('admin_order_free_freight_remove', {order: order.id}) }}" class="text-white ms-1" onclick="return confirm('Are you sure you want to remove Free Freight from order items?')">
                                                    <i class="fa fa-times me-1"></i>
                                                </a>
                                            </small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaData['isSaturdayDelivery'] is defined and item.metaData['isSaturdayDelivery'] %}
                                        <div class="mb-0 addon-badges d-flex flex-wrap align-items-center">
                                            <small class="badge bg-danger mt-1">Super Rush: Saturday Delivery</small>
                                        </div>
                                    {% endif %}
                                    {% if item.metaDataKey('additionalNote') %}
                                    <div class="mt-2">
                                        <b>Order Comment</b>
                                        <p class="mb-0">{{ item.metaDataKey('additionalNote') }}</p>
                                    </div>
                                    {% endif %}
                                    {% set notes = item.metaDataKey('notes') %}
                                    {% if notes %}
                                        <div>
                                            <b>Additional Notes</b>
                                            {% for type, value in notes %}
                                                <div>
                                                    <span class="fw-semibold text-uppercase">
                                                        {{ type|replace({'_': ' '}) }}
                                                    </span>
                                                    {% if value is iterable %}
                                                            {% for key, text in value %}
                                                                <span>
                                                                    <span class="fw-semibold">({{ key|replace({'_': ' '}) }}):</span>
                                                                    <span>{{ text }}</span>
                                                                </span>
                                                            {% endfor %}
                                                    {% else %}
                                                        <span>{{ text }}</span>
                                                    {% endif %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if is_granted('admin_order_view_details') %}
                                    {{ include('admin/order/view/item/_price_breakdown.html.twig', {item: item}) }}
                                    {% endif %}
                                </div>
                            </td>
                            {% if order.isIsYSPLogo %}
                                <td class="text-center">
                                    {% if item.product.parent.primaryCategory.slug == "custom-signs" %}
                                        {% if item.metaData['customArtwork'] is defined and item.metaData['customArtwork']|length > 0 %}
                                            {% include 'admin/order/view/_custom_ysp_logo_table.html.twig' with { displayType: 'anchor' } %}
                                        {% endif %}
                                    {% else %}
                                        {% include 'admin/order/view/_canvas_ysp_logo_table.html.twig' with { displayType: 'anchor' } %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td>{{ item.quantity }}</td>
                            {% if is_granted('admin_order_view_details') %}
                            {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
                                <td>${{ item.unitAmount | number_format(2) }}</td>
                                <td>${{ item.totalAmount | number_format(2) }}</td>
                            {% endif %}
                            {% endif %}
                        </tr>
                        {% elseif (not item.product and item.itemType == 'COMMENT_ITEM') %}
                            <tr>
                                <td class="product-sno">{{ loop.index }}</td>
                                <td colspan="4">
                                    <div class="product-info">
                                        <div>
                                            <b>Comment</b>
                                            {% if is_granted('order_item_update') %}
                                                {{ include('admin/order/view/_description_item.html.twig') }}
                                            {% endif %}
                                            <p class="mb-0">{{ item.itemDescription }}</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% elseif ((not item.product and item.itemType == 'CHARGED_ITEM') or (not item.product and item.itemType == 'DISCOUNT_ITEM')) %}
                            <tr>
                                <td class="product-sno">{{ loop.index }}</td>
                                <td>
                                    <div class="product-info">
                                        <p class="mb-0">
                                            {{ item.itemName }}
                                            <span class="badge badge-pill fw-bold bg-purple text-white text-decoration-none mx-2">{{ item.itemType|replace({'_':' '}) }}</span>
                                            {% if is_granted('order_item_update') %}
                                                <a class="badge badge-pill fw-bold bg-primary text-white text-decoration-none" type="button" data-bs-toggle="offcanvas"
                                                    data-bs-target="#offChargeItem{{ item.id }}{{ item.itemType }}" aria-controls="offChargeItem{{ item.id }}{{ item.itemType }}">
                                                    <i class="fa fa-edit me-1"></i>Edit
                                                </a>
                                                {{ include('admin/order/view/item/_edit_charge_discount_item.html.twig') }}
                                            {% endif %}
                                            {% if is_granted('order_item_remove') %}
                                                <a href="{{ url('admin_order_item_remove', {orderId: order.orderId, itemId: item.id, status: item.itemType}) }}" class="badge text-bg-danger text-decoration-none" onclick="return confirm('Are you sure you want to delete this item?')">
                                                    <i class="fa fa-trash me-1"></i> Delete
                                                </a>
                                            {% endif %}
                                        </p>
                                        <div class="mt-2">
                                            <b>Description</b>
                                            <p class="mb-0">{{ item.itemDescription }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                {% if is_granted('admin_order_view_details') %}
                                {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
                                    <td>
                                        {% if item.itemType == 'DISCOUNT_ITEM' %}
                                            -${{ item.unitAmount | number_format(2) }}
                                        {% else %}
                                            ${{ item.unitAmount | number_format(2) }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if item.itemType == 'DISCOUNT_ITEM' %}
                                            -${{ item.totalAmount | number_format(2) }}
                                        {% else %}
                                            ${{ item.totalAmount | number_format(2) }}
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
                        <tfoot>
                        <tr>
                            <th colspan="3" class="text-right">
                                {% if is_granted('order_add_charge') %}
                                    <a class="btn btn-success btn-sm my-1 text-uppercase" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#offChargeItem_{{ order.orderId }}" aria-controls="offChargeItem_{{ order.orderId }}_label">
                                        Charge Item
                                    </a>
                                    {{ include('admin/order/view/_charge_item.html.twig') }}
                                {% endif %}
                                {% if is_granted('order_give_discount') %}
                                    <a class="btn btn-success btn-sm my-1 text-uppercase" type="button" data-bs-toggle="offcanvas"
                                        data-bs-target="#offDiscountItem_{{ order.orderId }}" aria-controls="offDiscountItem_{{ order.orderId }}_label">
                                        Give Discount
                                    </a>
                                    {{ include('admin/order/view/_discount_item.html.twig') }}
                                {% endif %}
                                {{ include('admin/order/view/_description_item.html.twig') }}
                            </th>
                            <th>
                                Total Qty: {{ order.totalQuantity }}
                            </th>
                            <th colspan="2"></th>
                        </tr>
                        {% if is_granted('admin_order_view_details') %}
                        <tr>
                            <th colspan="4" class="text-right">Sub-Total</th>
                            <td>${{ order.subTotalAmount | number_format(2) }}</td>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">
                                <span>Shipping ({% if order.metaData.deliveryMethod.key is defined and order.metaData.deliveryMethod.key == 'REQUEST_PICKUP' %}Pickup{% else %}Delivery{% endif %} Date: {{ order.deliveryDate | date('M d, Y') }})</span>
                            {% if order.shippingAmount > 0 and order.status not in ['SHIPPED', 'CANCELLED', 'READY_FOR_SHIPMENT'] %}
                                <a href="{{ url('admin_order_shipping_remove', {order: order.id}) }}" class="badge text-bg-danger text-decoration-none" onclick="return confirm('Are you sure you want to remove Shipping Fee?')">
                                    <i class="fa fa-trash me-1"></i> Remove Shipping Fee
                                </a>
                            {% endif %}
                            {% if order.isIsManual is defined and order.isIsManual and order.status not in ['READY_FOR_SHIPMENT', 'PROOF_APPROVED', 'COMPLETED', 'CANCELLED'] %}
                                <a class="badge badge-pill fw-bold bg-primary text-white text-decoration-none mx-1" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offShipping" aria-controls="offShipping">
                                    <i class="fa fa-edit me-1"></i>Edit
                                </a>
                                {{ include('admin/order/view/_update_shipping.html.twig') }}
                            {% endif %}
                            </th>
                            <td>+${{ order.shippingAmount | number_format(2) }}</td>
                        </tr>
                        {% if order.additionalDiscount is defined and order.additionalDiscount is not empty %}
                            {% for key,discount in order.additionalDiscount %}
                                <tr>
                                    <th colspan="4" class="text-right">Discount
                                        <small class="text-capitalize text-muted">
                                            ({{ discount.name }})
                                        </small>
                                    </th>
                                    <td>-${{ discount.amount | number_format(2) }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if order.coupon %}
                            <tr>
                                <th colspan="4" class="text-right">
                                    Coupon Discount
                                    <span class="badge bg-success text-uppercase">{{ order.coupon.code }}</span>
                                    {% if is_granted('order_coupon_remove') %}
                                        <a href="{{ url('admin_order_coupon_remove', {order: order.id, coupon: order.coupon.id}) }}" class="badge text-bg-danger text-decoration-none" onclick="return confirm('Are you sure you want to remove this coupon?')">
                                            <i class="fa fa-trash me-1"></i> Remove
                                        </a>
                                    {% endif %}
                                </th>
                                <td>-${{ order.couponDiscountAmount | number_format(2) }}</td>
                            </tr>
                        {% endif %}
                        {% if order.orderProtectionAmount > 0 %}
                            <tr>
                                <th colspan="4" class="text-right">Order Protection
                                    {% if order.status not in ['SHIPPED', 'CANCELLED', 'READY_FOR_SHIPMENT'] %}
                                        <a href="{{ url('admin_order_protection_remove', {order: order.id}) }}" class="badge text-bg-danger text-decoration-none" onclick="return confirm('Are you sure you want to remove Order Protection?')">
                                            <i class="fa fa-trash me-1"></i> Remove Order Protection
                                        </a>
                                    {% endif %}
                                </th>
                                <td>+${{ order.orderProtectionAmount | number_format(2) }}</td>
                            </tr>
                        {% endif %}
                        {% if order.internationalShippingChargeAmount > 0 %}
                            <tr>
                                <th colspan="4" class="text-right">
                                    International Shipping
                                    {% if order.status not in ['SHIPPED', 'CANCELLED', 'READY_FOR_SHIPMENT'] %}
                                        <a href="{{ url('admin_international_shipping_charge_remove', {order: order.id}) }}"
                                        class="badge text-bg-danger text-decoration-none"
                                        onclick="return confirm('Are you sure you want to remove International Shipping Charge?')">
                                            <i class="fa fa-trash me-1"></i> Remove International Shipping
                                        </a>
                                    {% endif %}
                                </th>
                                <td>+${{ order.internationalShippingChargeAmount | number_format(2) }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            {% set balanceAmount = order.totalAmount - (order.totalReceivedAmount - order.refundedAmount) %}
                            <th colspan="4" class="text-right">
                                Order Total Amount
                                {% if balanceAmount <= 0 %}
                                    <span class="badge bg-success text-uppercase">Paid</span>
                                {% endif %}
                            </th>
                            <td>${{ order.totalAmount | number_format(2) }}</td>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">
                                Total Received Amount
                            </th>
                            <td>${{ order.totalReceivedAmount | number_format(2) }}</td>
                        </tr>
                        {% if order.refundedAmount > 0 %}
                            <tr>
                                <th colspan="4" class="text-right bg-light">Total Refunded Amount</th>
                                <td class="bg-light">-${{ order.refundedAmount | number_format(2) }}</td>
                            </tr>
                            <tr>
                                <th colspan="4" class="text-right bg-dark text-white">
                                    Final Order Amount
                                </th>
                                <td class="bg-dark text-white">${{ (order.totalReceivedAmount - order.refundedAmount) | number_format(2) }}</td>
                            </tr>
                        {% endif %}
                        {% if balanceAmount > 0 or balanceAmount < 0 %}
                            <tr>
                                <th colspan="4" class="text-right bg-warning text-white">
                                    {% if balanceAmount <= 0 %}
                                        Total Pending (To be Refunded to Customer)
                                    {% else %}
                                        Total Balance Amount (To be Paid by Customer)
                                    {% endif %}
                                </th>
                                <td class="bg-warning text-white">${{ balanceAmount|abs | number_format(2) }}</td>
                            </tr>
                        {% endif %}
                        {% endif %}
                        </tfoot>
                    {% endif %}
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% if (hidePrintCut is defined and hidePrintCut == false) or hidePrintCut is not defined %}
    {% if 'ROLE_WAREHOUSE' not in app.user.roles %}
        <div class="bg-light rounded-1 p-3">
            {{ include('admin/order/view/print_cut_proofs.html.twig') }}
            {% if is_granted('order_upload_print_cut_file') %}
                {% set printCutForm = createPrintCutFileForm(url('admin_order_upload_print_cut_file', {'orderId': order.orderId})) %}
                {{ form_start(printCutForm) }}
                <div class="row mb-2">
                    <div class="col-4">
                        {{ form_row(printCutForm.printFile) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(printCutForm.cutFile) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(printCutForm.vectorFile) }}
                    </div>
                </div>
                {{ form_end(printCutForm) }}
            {% endif %}
        </div>
    {% endif %}
{% endif %}

{% if is_granted('order_update_status') and orderStatusForm is defined %}
    {% if order.status != 'CANCELLED' %}
        <div class="mt-3 bg-light rounded-1 p-3">
            {{ form_start(orderStatusForm, {
                attr: {
                    onsubmit: "return confirm('Are you sure you want to change the status?');"
                }
            }) }}
            {{ form_row(orderStatusForm.status) }}
            {{ form_end(orderStatusForm) }}
        </div>
    {% endif %}
{% endif %}

{% if is_granted('order_update_notes') and orderNotesForm is defined %}
    {% if order.status != 'CANCELLED' %}
        <div class="mt-3 bg-light rounded-1 p-3">
            {{ form_start(orderNotesForm) }}
            {{ form_row(orderNotesForm.notes) }}
            {{ form_end(orderNotesForm) }}
        </div>
    {% endif %}
{% endif %}

{% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
    {{ include('admin/order/view/breakdown/cost_breakdown.html.twig') }}
{% endif %}