<div class="card card-header-actions mx-auto shadow-none">
    <div class="card-header">
        List of Sub Categories [ {{ category.name }} ]
    </div>
    <div class="table-responsive">
        <table class="card-body table table-striped mb-0">
            <thead>
            <tr>
                <th>Sr.</th>
                <th>Website</th>
                <th>Name</th>
                <th>Slug</th>
                <th>SKU</th>
                <th>Sort</th>
                <th>Menu</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if categories | length > 0 %}
                {% for category in categories %}
                    <tr>
                        <td>{{ categories.getPaginationData.firstItemNumber + loop.index - 1 }}</td>
                        <td>{{ category.store.shortName }}</td>
                        <td><strong>{{ category.name }}</strong> ({{ category.productsAll | length }})</td>
                        <td>{{ category.slug }}</td>
                        <td>{{ category.skuInitial }}</td>
                        <td>{{ category.sortPosition }}</td>
                        <td>{{ category.displayInMenu ? "Yes" : "No" }}</td>
                        <td>
                            <a href="{{ url('admin_category_edit', {id: category.id}) }}"
                                class="badge text-white bg-info text-decoration-none my-1">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            {% if category.isEnabled and category.parent is not null %}
                                <a href="{{ url('category', {slug: category.parent.slug, subSlug: category.slug}) }}" target="_blank" class="badge text-white bg-dark text-decoration-none my-1">
                                    <i class="fas fa-external-link-alt"></i> View
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="8" class="text-center">No records</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

</div>

<div class="mt-4">
    {{ knp_pagination_render(categories) }}
</div>